body {
  font-family: Helvetica, Arial, sans-serif;
  background: linear-gradient(#f2d481, #d38900);
  margin: 10px 0px auto;
  color: grey;
}
button {
  padding: 2px 6px;
  border-width: 1px;
  border-style: outset;
  border-image: initial;
  background-color: #2fd2f2;
  transition: all 200ms ease;
  cursor: pointer;
}
button:hover {
  background: rgba(255, 255, 255, 0.3);
  color: #2fd2f2;
  border: 1px solid #2fd2f2;
}
button.location-button {
  border-radius: 2px;
}
form {
  display: inline;
}
footer {
  padding: 20px 0px;
  text-align: center;
  font-family: monospace;
  color: #fff;
}
h1 {
  font-size: 50px;
  font-family: monospace;
  color: #fff;
}
.card {
  max-width: 400px;
  margin: 0 auto;
  padding: 10px 8px;
  background-color: rgba(255, 255, 255, 0.3);
}
.current-city {
  font-size: 36px;
  padding: 20px 0px 0px 0px;
}
.container {
  text-align: center;
  display: block;
}
.current-temperature {
  font-size: 50px;
}
.current-temperature-unit {
  position: relative;
  text-decoration: none;
  color: grey;
  font-size: 16px;
  top: -24px;
}
.current-temperature-unit .active {
  color: grey;
  cursor: default;
  text-decoration: none;
}
.current-temperature-unit .active:hover {
  text-decoration: none;
}
.current-time {
  font-size: 24px;
  padding: 5px 0px 0px 0px;
  font-family: monospace;
}
.current-weather-description {
  text-align: left;
}

.current-weather-description::first-letter {
  text-transform: capitalize;
}
.current-weather {
  padding-top: 13px;
  padding-bottom: 13px;
}
.current-weather-icon {
  text-align: right;
}
.current-windspeed {
  text-align: left;
}
.forecast-temperatures {
  font-size: 20px;
}
.forecast-weather-icons {
  font-size: 50px;
}
.forecast-weekdays {
  font-size: 20px;
  font-family: monospace;
}
.github-link {
  color: #845600;
  transition: all 200ms ease;
}
.github-link:hover {
  color: #f2d481;
}
.link {
  color: #d38900;
  transition: all 200ms ease;
}
.link:hover {
  color: #845600;
}
.row {
  padding: 10px 0px;
}
.sun {
  color: #dea734;
}
.weather-box {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px 40px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}
