body {
  font-family: Helvetica, Arial, sans-serif;
  background: linear-gradient(#f2d481, #d38900);
  margin: 10px 0px auto;
  color: #3c366b;
}
button {
  padding: 2px 6px;
  border-width: 1px;
  border-style: outset;
  border-image: initial;
  background-color: #2fd2f2;
  transition: all 200ms ease;
  cursor: pointer;
}
button:hover {
  background: rgba(255, 255, 255, 0.3);
  color: #2fd2f2;
  border: 1px solid #2fd2f2;
}

form {
  display: inline;
}
footer {
  padding: 20px 0px;
  text-align: center;
  font-family: monospace;
  color: #fff;
}
h1 {
  font-size: 50px;
  font-family: monospace;
  color: #fff;
}
.btn-outline-secondary {
  color: #635ba1;
  border-color: #635ba1;
  border-radius: 10px;
}
.btn-outline-secondary:hover {
  color: #fff;
  background-color: #635ba1;
}
.btn-primary {
  background-color: #635ba1;
  border-color: #635ba1;
  border-radius: 10px;
}
.btn-primary:hover {
  background-color: #3c366b;
  border-color: #3c366b;
}
.card {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px 8px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 0;
  border-radius: 10px;
}
.card-search-bar {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px 0px;
  background-color: rgba(255, 255, 255, 0.3);
}
.current-city {
  font-size: 36px;
  padding: 20px 0px 0px 0px;
}
.container {
  text-align: center;
  display: block;
}
.current-temperature {
  font-size: 64px;
}
.current-temperature-unit {
  position: relative;

  color: #3c366b;
  font-size: 16px;
  top: -34px;
}
.current-temperature-unit .link {
  text-decoration: none;
  color: #3c366b;
  transition: all 200ms ease;
  opacity: 0.6;
}
.current-temperature-unit .link:hover {
  text-decoration: underline;
  opacity: 1;
}
.current-temperature-unit .active {
  color: #3c366b;
  cursor: default;
  text-decoration: none;
  opacity: 1;
}
.current-temperature-unit .active:hover {
  color: #3c366b;
  text-decoration: none;
}
.current-time {
  font-size: 24px;
  padding: 5px 0px 0px 0px;
  font-family: monospace;
}
.current-weather-description {
  text-align: left;
}

.current-weather-description::first-letter {
  text-transform: capitalize;
}
.current-weather {
  padding-top: 25px;
  padding-bottom: 25px;
}
.current-weather-icon {
  text-align: right;
}
.current-windspeed {
  text-align: left;
}
.forecast-temperatures {
  font-size: 20px;
}
.forecast-temperatures-min {
  opacity: 0.6;
}
.forecast-weather {
  text-align: center;
}
.forecast-weekdays {
  font-size: 20px;
  font-family: monospace;
}
.form-control {
  border-color: #fff;
  color: #3c366b;
  border-radius: 10px;
}
.github-link {
  color: #845600;
  transition: all 200ms ease;
}
.github-link:hover {
  color: #f2d481;
}

.row {
  padding: 10px 0px;
  margin: 0 auto;
}
.sun {
  color: #dea734;
}
.weather-box {
  margin: 0 auto;
  max-width: 700px;
  padding: 20px 40px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
.no-padding {
  padding: 0;
}
.search-box {
  max-width: 500px;
}
